.container {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 34px;
    margin: 0px 60px;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.96px;
}

.highlight-text {
    color: #335eea;
}
.plain-text {
    color: #869ab8;
}

.button-container {
    display: flex;
}

button {    
    border-style: none;
    border-radius: 8px;
    background-color: rgba(51,94,234,.1);
    color: #335eea;
    font-size: 16px;
    padding: 5px 20px;
    margin-right: 10px;
    margin-top: 20px;
}

.view-button {
    background-color: #335eea;
    color: #fff;
    display: inline-flex;
    align-items: center;
}

.img-in-view-button {
    padding-left: 5px;
}


