
.text-blue {
    color: #335eea;
}
.text-grey {
    color: #869ab8;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 36px;
    margin: 0 60px;
}

h1 {
    font-weight: 400;
    font-size: 34px;
    line-height: 58px;
    letter-spacing: -0.96px;
}

.point {
    height: 115px;
    width: 700px;
}

.icon-description {
    display: inline-block;
    height: 115px;
    width: 450px;
    margin-left: 20px;
}

.icon-heading {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.icon-text {
    margin: 0;
    font-size: 18px;
}


