body {
    background-color: #f1f4f8;
}

.container {
    width: 540px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    margin: 0 60px;
}

h1 {
    font-weight: 500;
    font-size: 34px;
    line-height: 58px;
    letter-spacing: -0.96px;
}

.highlight-text {
    color: #335eea;
}
.plain-text {
    color: #506690;
}

.individual-feature {
    display: inline-block;
    margin-right: 60px;
    margin-top: 20px;
}

.feature-value {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

.feature-description {
    margin: 0;
}

