.text-green {
    color: #42ba96;
}
.text-grey {
    color: #869ab8;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 36px;
    margin: 0 60px;
}

h1 {
    font-weight: 400;
    font-size: 34px;
    line-height: 58px;
    letter-spacing: -0.96px;
}

p {
    margin-bottom: 30px;
}

.key-points {
    display: inline-flex;
}

.point {
    display: inline-flex;
    align-items: center;
    width: 280px;
    height: 50px;
}

.text-behind-icon {
    padding-left: 15px;
}
