.container {
    width: 540px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 36px;
    margin: 0 60px;
}

h1 {
    font-weight: 500;
    font-size: 34px;
    line-height: 56px;
    letter-spacing: -0.96px;
    margin:0;
}

.highlight-text {
    color: #42ba96;
}
.plain-text {
    color: #869ab8;
    margin-bottom: 24px;
}

.features {
    display: inline-flex;
}

.individual-feature {
    display: inline-flex;
    align-items: center;
    width: 280px;
    height: 50px;
}

.feature-text {
    padding-left: 15px;
}
