.container {
    width: 540px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 36px;
    margin: 0 60px;
}

.highlight-text {
    color: #335eea;
}
.plain-text {
    color: #869ab8;
}

h1 {
    font-weight: 500;
    font-size: 34px;
    line-height: 58px;
    letter-spacing: -0.96px;
}

.feature-description {
    display: inline-block;
    height: 115px;
    width: 450px;
    margin-left: 20px;
}

.feature-header {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.feature-text {
    margin: 0;
    font-size: 18px;
}


