.container {
    background-image: url("https://files.porsche.com/filestore/image/multimedia/none/carrange-flyout-911/small/3cf76e8c-6694-11e9-80c4-005056bbdc38;sP;twebp065;c1693;gc/porsche-small.webp");
    background-repeat: no-repeat;
    background-size: contain;
    height: 440px;
    padding: 20px 40px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.model-name {
    font-size:38px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0px;
}

.price {
    font-size: 22px;
    font-weight: 900;
    margin-top: 6px;
}

.button-container {
    margin-top: 292px;
}

.build-button {
    display: inline-flex;
    background-color: #fff;
    border: 1px solid white;
    margin-right: 8px;
    padding-right: 20px;
}

.models-button {
    display: inline-flex;
    border: 1px solid white;
    padding-right: 20px;
}

.img-in-button {
    height: 20px;
    padding: 15px;
    padding-right: 8px;
}

.text-in-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: -0.96px;
    color: black;
}

.models-button-text {
    color: white;
}